@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Black.otf') format('opentype'),
    url('./assets/font/Gilroy-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Extrabold.otf') format('opentype'),
    url('./assets/font/Gilroy-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Bold.otf') format('opentype'),
    url('./assets/font/Gilroy-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Semibold.otf') format('opentype'),
    url('./assets/font/Gilroy-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Regular.otf') format('opentype'),
    url('./assets/font/Gilroy-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Light.otf') format('opentype'),
    url('./assets/font/Gilroy-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./assets/font/Gilroy-Thin.otf') format('opentype'),
    url('./assets/font/Gilroy-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
